---
title: Go Static, My Friend
---

<section>
  <section>
    <h1>In the beginning...</h1>
  </section>

  <section fullscreen-img="/img/tim.jpg">
  </section>

  <section>
    <h1>Static Web Sites</h1>
  </section>

  <section>
    <h1>Generating HTML</h1>
    <%= image_tag 'xcoffee.gif' %>
  </section>

  <section>
    <h1>Web Applications</h1>
  </section>

  <section>
    <h1>Database</h1>
  </section>

  <section>
    <h1>Datastore</h1>
  </section>

  <section fullscreen-img="/img/scaling.png">
    <h1>Scaling is Hard</h1>
  </section>

  <section>
    <h1>Generate Static Content</h1>
  </section>

  <section>
    <h1>Data<span class='strikethrough'>base</span></h1>
  </section>

  <section fullscreen-img="/img/cloud.jpg">
    <h1>Deploy to the Cloud</h1>
  </section>

  <section data-background="/img/rays.png">
  </section>
</section>

<section>
  <section>
    <h2>What is Middleman?</h2>
    <ul>
      <li class="fragment">Static site generator...</li>
      <li class="fragment">Built on top of Padrino...</li>
      <li class="fragment">Built on top of Sinatra...</li>
      <li class="fragment">Which is a Rack application.</li>
    </ul>
    <br>
    <blockquote class="fragment">That last bit is important...</blockquote>
  </section>

  <section>
    <h2>View Layer</h2>
    <ul>
      <li>Templates</li>
      <li>Layouts</li>
      <li>Partials</li>
      <li>View Helpers</li>
    </ul>
  </section>

  <section>
    <h2>Templating Options</h2>
    <ul>
      <li>ERb</li>
      <li>HAML</li>
      <li>Markdown</li>
      <li>Others</li>
    </ul>
  </section>

  <section>
    <h2>Templating Systems are Composable</h2>
    <pre class="fragment big"><code>index.markdown.erb</code></pre>
    <blockquote class="fragment big">Reads from right to left</blockquote>
  </section>

  <section>
    <h1>Data Layer</h1>
  </section>

  <section>
    <h2>Configuration Driven</h2>
    <pre class="big"><code data-trim>
config.rb
    </code></pre>
  </section>
</section>

<section>
  <img src='/img/middleman-server.png'>
</section>

<section>
  <section>
    <h1>Front matter</h1>
  </section>

  <section>
    <h2>Front Matter</h2>
    <ul>
      <li>Attached to the current page</li>
      <li>Available through the <code>current_page.data</code> method</li>
      <li>Great for page specific metadata</li>
    </ul>
  </section>

  <section>
    <h2>YAML</h2>
    <pre class="big"><code data-trim>
---
title: A Sample Team Page
---
    </code></pre>
  </section>

  <section>
    <h2>JSON</h2>
    <pre class="big"><code data-trim>
;;;
"title": "A Sample Team Page"
;;;
    </code></pre>
  </section>

  <section>
    <pre class="medium"><code data-trim>
<h1><%%= current_page.data.title %></h1>
    </code></pre>
  </section>

  <section>
    <pre class="medium"><code data-trim>
<h1>A Sample Team Page</h1>
    </code></pre>
  </section>
</section>

<section>
  <section>
    <h1>Local Data</h1>
  </section>

  <section>
    <h2>Local Data</h2>
    <ul>
      <li>JSON or YAML</li>
      <li>Stored under <code>data</code></li>
      <li>Available via the <code>data</code> helper</li>
    </ul>
  </section>

  <section>
    <h2><code>data/team.yml</code></h2>
    <pre><code class="yaml">
---
-
  slug: fred
  name: Frederic Jean
  title: Senior Bit Twiddler
  bio: Something really clever goes here...
    </code></pre>
  </section>

  <section>
    <h2>Using local data in a page</h2>
    <pre><code class="html" data-trim>
<%% data.team.each do |member| %>
   <%%= image_tag "team/#{member.slug}.png", width: '25%', height: '25%' %>
  <h2><%%= link_to member.name, "/team/" + member.slug %></h2>
<%% end %>
    </code></pre>
  </section>

  <section>
    <h2>Dynamic Pages</h2>
    <pre><code class="ruby" data-trim>
data.team.each do |member|
  proxy "/team/#{member.slug}.html", "team/team.html",
        locals: { member: member }, ignore: true
end
    </code></pre>
  </section>

  <section>
    <h2>Dynamic Pages</h2>
    <pre class="medium"><code>
team/fred.html
team/peter.html
team/anthony.html
    </code></pre>
  </section>

  <section>
    <h2>Data in Proxy Page</h2>
    <pre><code data-trim>
<article>
  <h1><%%= member.name %> &mdash; <%%= member.title %></h1>
  <%%= image_tag "team/#{member.slug}.png" %>
  <p><%%= member.bio %></p>
  <aside>
    <%% if member[:github] %>
       <%%= link_to "github", "https://github.com/#{member.github}" %>
    <%% end %>
  </aside>
</article>
    </code></pre>
  </section>

  <section>
    <h2>Data in Proxy Page</h2>
    <pre><code data-trim>
<article>
  <h1>Fred Jean &mdash; Bit Twiddler</h1>
  <img src="img/fred.png">
  <p>Something really clever goes here...</p>
  <aside>
    <a href="https://github.com/fredjean">github</a>
  </aside>
</article>
    </code></pre>
  </section>

</section>

<section>
  <section>
    <h1>Building Static Content</h1>
  </section>

  <section>
    <%= image_tag '/img/middleman-build.png' %>
  </section>

  <section>
    <pre class="big"><code>
$ middleman build
    </code></pre>
  </section>

  <section>
    <h1>Extensions</h1>
  </section>

  <section>
    <h2>Page Load Optimisation</h2>
    <ul>
      <li>minify_css</li>
      <li>minify_javascript</li>
      <li>smusher</li>
      <li>minify_html</li>
      <li>gzip</li>
    </ul>
  </section>

  <section>
    <h2>Assets Management</h2>
    <ul>
      <li>relative_assets</li>
      <li>asset_hash</li>
    </ul>
  </section>

  <section>
    <h1>$$$</h1>
  </section>
</section>

<section>
  <section>
    <h1>Publishing</h1>
  </section>

  <section>
    <%= image_tag '/img/middleman-sync.png' %>
  </section>

  <section fullscreen-img="/img/cloud.jpg">
    <h1>middleman-s3_sync</h1>
    <blockquote>The gem that tries really hard not to push files to S3</blockquote>
  </section>

  <section>
    <h2>Configure S3 Sync</h2>
    <pre class="medium"><code data-trim>
activate :s3_sync do |sync|
  sync.bucket = 'go-static.fredjean.net'
  sync.region = 'us-west-1'
end
    </code></pre>
  </section>

  <section>
    <h2>Setup AWS Credentials</h2>
    <ul>
      <li>Store in <code>config.rb</code></li>
      <li>Store in environment</li>
      <li>Store in <code>.s3_sync</code></li>
    </ul>
  </section>

  <section>
    <h2>Push</h2>
    <pre><code data-trim>
$  middleman s3_sync
     s3_sync  Gathering the paths to evaluate.
     s3_sync  Ready to apply updates to go-static-my-friend.fredjean.net.
     s3_sync  Creating lib/css/fullscreen-img.css
     s3_sync  Creating lib/js/fullscreen-img.js
     s3_sync  Updating css/main.css
     s3_sync  Updating css/reveal.css
    </code></pre>
  </section>

  <section>
    <h2>Configure S3 for Website Hosting</h2>
    <%= image_tag 'S3_Management_Console.png' %>
  </section>

  <section>
    <h2>Configure S3 for Website Hosting</h2>
    <%= image_tag 'S3_Management_Console2.png' %>
  </section>

  <section>
    <h2>Setup DNS</h2>
    <ul>
      <li>ALIAS for "naked domains"</li>
      <li>CNAME is sufficient for sub-domains</li>
      <li class="fragment">Amazon Route 53 works best</li>
      <li class="fragment">DNSimple works pretty good though</li>
    </ul>
  </section>

  <section>
    <%= image_tag '/img/from-s3.png' %>
  </section>
</section>

<section>
  <section>
    <h1>Wrapping Up</h1>
  </section>

  <section>
    <%= image_tag '/img/middleman-server.png' %>
  </section>

  <section>
    <%= image_tag '/img/middleman-build.png' %>
  </section>

  <section>
    <%= image_tag '/img/middleman-sync.png' %>
  </section>

  <section>
    <%= image_tag '/img/from-s3.png' %>
  </section>

  <section fullscreen-img="/img/tim.jpg">
  </section>

  <section class="whoami">
    <%= image_tag 'avatar.png', class: 'avatar' %>
    <ul>
      <li>Frederic Jean</li>
      <li>Bit Twiddler @ <a href="http://bounce.io">Bounce.io</a></li>
      <li><a href="mailto:fred@fredjean.net">fred@fredjean.net</a></li>
      <li><a href="mailto:fred@bounce.io">fred@bounce.io</a></li>
      <li><a href="http://fredjean.net">http://fredjean.net</a></li>
      <li><a href="http://twitter.com/fredjean">@fredjean</a></li>
    </ul>
  </section>
</section>

<section>
  <h2>Attributions</h2>
  <ul>
    <li><a href="http://en.wikipedia.org/wiki/Trojan_Room_coffee_pot">Trojan Room Coffee Pot</a></li>
    <li><a href="https://dl.dropboxusercontent.com/u/2273146/my-old-digs.png">Obama Campaign Architecture</a></li>
    <li><a href="http://www.flickr.com/photos/nirak/644337888/sizes/o/in/photolist-YWoML-YWpcW-YWuEd-24QLTr-25dtyc-2pDo5X-2qvbyW-2tUPjg-2TWHMM-31mq86-34vAHA-35YkUG-3pU5hg-4nvqBz-4nXfwv-4nXkbg-4o2qJ5-4orqLq-4qe8Ao-4PVqwm-4XCXJz-58Tkmt-5auBeF-5bKQL2-5c4Lno-5c6SxP-5dCJiB-5gvxay-5qFgPP-5s6qhN-5BW9sA-5D6LTr-5Qh5eM-5REctS-6f8uhX-6fRpAb-6fTmk7-6k1dF4-6umxkS-6F4xaN-6PKM22-74EY4d-75N9St-77DJmC-7oFU8a-7oFYoX-7oFYrc-7u8sVQ-7uRQKg-7wyqvS-9zbjDz/">Clouds</a> by <a href="http://www.flickr.com/photos/nirak/">karindalziel</a></li>
  </ul>
</section>
